Makefile*
*.pro.user
ui_*
moc_*
qrc_*
*.txt
*.rc
*.o
*~
*_interface.cpp
*_interface.h
*_immediate.qrc
*_adaptor.cpp
*_adaptor.h
*.dylib
*.app/
.qmake.stash
**/target_wrapper.sh
cppcheck.*.txt
.project
.settings
.cproject
.DS_Store
*.pc
*.tar.bz2
*.prl
pkgconfig/
qwt.framework/

